.hero {
    max-width: 480px;
    height: 400px;

    margin-left: auto;
    margin-right: auto;

    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../../images/hero/background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url("../../images/hero/background-mobile@2x.jpg");
    }
}

.hero__content {
    padding-top: 118px;
    padding-bottom: 118px;
}

.hero__title {
    width: 360px;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--hero-text-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;

}


@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url("../../images/hero/background-tablet.jpg");
        
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url("../../images/hero/background-tablet@2x.jpg");
        }

    }    
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        height: 600px;
        
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url("../../images/hero/background-desktop.jpg");
        
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)), url("../../images/hero/background-desktop@2x.jpg");
        }
    }

    .hero__content {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero__title {
        width: 696px;
        
        font-size: 44px;
        line-height: 1.36;
    }
}