:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --primary-background-color: #FFFFFF;
    --additional-background-color: #2F303A;
    --extra-backround-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --icons-color: #afb1b8;
    --ftr-bgc-color: rgba(255, 255, 255, 0.1);
    --description-bgc-color: rgba(47, 48, 58, 0.8);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --project-bg-color: rgba(33, 150, 243, 0.9);
    --modal-input-border-color: rgba(33, 33, 33, 0.2);
}